## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.class
pom.xml.old
version.info

## intellij project files
*.iml
*.ipr
*.iws
.idea
## eclipse project files
.classpath
.project
.settings

## directories to ignore
.svn
target/
target-utils/*
temp/
##Ignore generated Java-Tests
web/src/test/java/de/betterfrom/conformance/xf11/*


## files to ignore
tools/installer/betterform-*install*

